{% extends "base.html" %}
{% load render_bundle from webpack_loader %}


{% block page_title %}Users{% endblock %}

{% block content %}
{% include 'nav.html' %}


<div class="col-md-9 col-md-offset-1">

  <div id="userscontainer">
  {% render_bundle 'main' %}
  </div>
  <!-- <h1>Welcome to Lead!</h1>
{% for user in users %}

<div class="thumbnail">
  <div class="caption post-detail-item">
    <div class="row">
    <div class="col-md-3">
      <img class="img-responsive" src="{{ user.userprofile.photo_url }}"/>
    </div>
      <div class="col-md-9">
      <h2>{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}</h2>
      <h4>{{ user.userprofile.job_title }} @ {{ user.userprofile.current_company }}</h4>
      {% if user.userprofile.is_facebook_connected %}<span class="btn btn-default">Facebook: connected</span>{% endif %}
      {% if user.userprofile.is_linkedin_connected %}<span class="btn btn-default">LinkedIn: connected</span>{% endif %}
      <br /><br />
      <a class="btn btn-primary" href="{% url 'users:profile_view' id=user.id %}">View</a>
      </div>
    </div>
  </div>
</div>
{% endfor %} -->
</div>
{% endblock content%}
