<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Lead</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="text-align:center;">
            <li><a href="{% url 'users:home' %}">Users</a></li>
            <li><a href="{% url 'companies:company_list' %}">Companies</a></li>            
          </ul>
          <ul class="nav navbar-nav navbar-right" style="text-align:center;">
            <li><a href="#signup">sign up</a></li>
            <li><a href="#login">login </a></li>
          </ul>
        </div>
      </div>
    </nav>
